<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" >
<table class="table table-striped" >
    <thead>
    <tr>
        <th>{:__('Title')}</th>
        <th>{:__('Content')}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>申请单号</td>
        <td>{$jindu['one_id']}</td>
    </tr>
    <tr>
        <td>申请人</td>
        <td>{$row['username']|htmlentities}</td>
    </tr>
    <tr>
        <td>提交日期</td>
        <td>{$row['addtime']|date='Y-m-d H:i:s',###}</td>
    </tr>
    <tr>
        <td>结算对象</td>
        <td><font color="orange"> {$row['cys_name']}</font></td>
    </tr>
    <tr>
        <td>索赔申请号</td>
        <td><font color="orange"> {$row['info']}</font></td>
    </tr>



    <tr>
        <td>合计金额</td>
        <td >¥&nbsp&nbsp<b >{$row['money']|htmlentities}</b>&nbsp&nbsp元</td>
    </tr>




    <tr>

        <td>审核进度</td>
        <td>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">{$jindu['pur']}:
                    {switch name="$jindu['pay_status']" }

                    {case value="1" }<font color="green">同意</font>{/case}

                    {case value="2"}<font color="red">驳回</font>{/case}

                    {default /}<font color="blue">审批中</font>

                    {/switch}</div>
            </div>

            {if condition="$jindu['pay_time'] != null"}
            审批时间:{$jindu['pay_time']|date='Ymd H:i:s',###}
            {/if}


        </td>
    </tr>


    <tr>
        <td>操作</td>
        <td>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">

                    <div class="radio" >

                        <label> <input  name="check" type="radio" value="1" /><b>同意</b></label>
                        <label> <input  name="check" type="radio" value="2" /><b>驳回</b></label>
                        </label>



                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-sm-12">
                    批注:<input id="c-ps" class="form-control" name="row[ps]" type="text" value="{$jindu.ps|htmlentities}">
                </div>
            </div>
        </td>
    <tr>

    </tbody>
</table>





        <div class="form-group layer-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">

                <button type="submit" class="btn btn-success btn-embossed btn-ajax" >提交</button>
                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>

            </div>
        </div>



    </ul>


</form>















